.main {
	padding-left: 1em;
	margin-bottom: 0.25em;
	list-style: none;

	.civ {
		width: fit-content;

		&:hover {
			background: #cfcfcf;
		}

		.link {
			text-decoration: none;
			color: black;
			padding: 0.25em;
			display: block;
		}
	}

	.error {
		color: red;
	}
}
